<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscription Confirmation</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .subscription-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      text-align: center;
    }
    h1 {
      color: #333;
      padding: 10px;
      background-color: #0056b3;
    }
    .subscription-details {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .info {
      color: #666;
    }
    .btn {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    .btn:hover {
      background-color: #0056b3;
    }
    h2{
      color: #223d5b;
      font-size: 30px;
    }
  </style>
</head>
<body>
  <div class="subscription-container">
    <h1>Subscription Confirmed</h1>
    <p>Hello <%=user.name%>,</p>
    <p>You have successfully subscribed to <%= order.creatorName %>'s creator page!</p>
    <div class="subscription-details">
      <p>Subscription Details:</p>
      <p>Subscription ID: <%= order._id %></p>
      <p>Creator Name: <%= order.creatorName %></p>
      <p>Subscription Price: <%= order.price %></p>
      <p>Subscription Date: <%= order.date %></p>
    </div>
    <p class="info">Thank you for joining us!</p>
    <br>
    <p>If you have any questions, please contact support@creatorsclub.com</p>
  </div>
</body>
</html>
